@font-face{
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.closebtn{
    position: absolute;
    display: flex;
    width: 100%;
    ion-buttons{
        width:100%;
        margin-top: 5px;
        ion-button{
            margin-left: auto;
            margin-right:20px;
            color:white;
        }
    }
}

.fondo{
    width: 100%;
    height: 100%;
    background-color: #505050;
}
.btnNewAd{
    ion-fab-button{
        font-size: XX-large;
        --background: #10dc60;
        --background-hover:#28e070;
    }
}
.contenido{
    width: 95%;
    height: 94%;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    margin-top: 5vh;
    margin-left: 2.5vw;
}
ion-list{
    margin:5px;
    span{
       font-family:'Montserrat'; 
    }
    
}
.Estatus{
    margin-top: 8px;
}
.imagenLogo{
    width:100px;
    height:100px;
    margin: 20px;
}

.carritoVacio{
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    span{
        font-family: 'Montserrat';
        color:#505050;
    }
    .imagen{
        margin: auto;
        width: fit-content;
    }
    img,span{
        max-width: 200px;
        max-height: 200px;
    }
}