@font-face{
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.closebtn{
    position: absolute;
    display: flex;
    width: 100%;
    ion-buttons{
        width:100%;
        margin-top: 5px;
        ion-button{
            margin-left: auto;
            margin-right:20px;
            color:white;
        }
    }
}

.fondo{
    width: 100%;
    height: 100%;
    background-color: #505050;
}
 .btnNewAd ion-fab-button{
    font-size: XX-large !important;
    --background: #10dc60;
    --background-hover:#28e070;
    
}
.contenido, .NuevoAnuncio, .DetalleNegocios{
    width: 95%;
    height: 94%;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    position: fixed;
    margin-top: 5vh;
    margin-left: 2.5vw;
}
.contenido, .NuevoAnuncio, .DetalleNegocios{
    position: absolute;
    backface-visibility: hidden;
    }

.NuevoAnuncio, .DetalleNegocios{
    transform: translateX(110%);
    ion-buttons{
        margin-top:5px;
        margin-left:3px;
    }
}



.flip{
    position: relative;
    transition: all .5s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    width:100%;
    height:100%;
}

.flipped{
    transform: perspective(600px) translateX(-4%) translateX(-100%);
}

ion-list{
    margin:5px;
    span{
       font-family:'Montserrat'; 
    }
    
}
.Estatus{
    margin-top: 8px;
}
.imagenLogo{
    width:100px;
    height:100px;
    margin: 20px;
}

.carritoVacio{
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    span{
        font-family: 'Montserrat';
        color:#505050;
    }
    .imagen{
        margin: auto;
        width: fit-content;
    }
    img,span{
        max-width: 200px;
        max-height: 200px;
    }
}

.swiper{
    width: 100%;
}

.NuevoAnuncio{
    ion-button{
        color:black;
    }
}

