.my-custom-menu {
    --width: 500px;
  }

.Texto {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 28px !important;
}
.span{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 28px !important;
}
@font-face{
    font-family: 'Montserrat-Thin';
    src: url('../../../../assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
.cards{
    margin-bottom:10px;
}
.Titulo{
    width: auto;
    height: 100%;
    display:flex;
    display: inline-block;
    position:absolute;
}

.Titulo .span{
    display: block;
    position: absolute;
    width: 100%;
    color: black;
    font-family: 'Montserrat';
    text-align: center;
}
.span{
    width: 100%;
    color: black;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    position: sticky;
    display: block;
}
.blur{
    display: flex;
    width: 100%;
    height: 100% !important;
    color: black;
    font-family: 'Montserrat';
    background-color: #b3a295;
    position: absolute;
    display: flex;
    opacity: .7;
}

.Card{
    min-height: 20vh;
    max-height: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:10px;
    height: 100%;
}

.categorias{
    max-width: 400px;
    width: 80vw;
    max-height: 50vh;
    height:32vw;
    margin-left:auto;
    margin-right: auto;
}

.image{
    width: 100%;
    height: auto;
    object-fit: inherit;
    object-position: inherit;
    display: block;
}

span{
   font-family:'Montserrat'; 
}
.direccion{
    font-size:12px;
    .cambiardir{
        color:blue;
        font-size:9px;
    }
}
