<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let cat of Categorias" class="Card">
    
      <div class="Titulo">
        <span>{{cat.Categoria}}</span>
        <ion-img [src]="rutaImagen() + cat.Imagen"></ion-img>
      </div>
  </ion-card>
</ion-content>
