@font-face{
    font-family: 'Montserrat';
    src: url('../../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.logo{
    max-width:70px;
    max-height:70px;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:5px;
}
.titleCard{
    top:30px;
    left:20px;
    font-family: 'Montserrat';
    font-size: 15px;
}
.Negocios{
    width:85%;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    .Card{
       margin-bottom:0;
       padding-bottom:0; 
       border-radius:3px;
       max-height:120px;
    }
}

.footerNegocios{
    margin-top:0;
    padding-top:0;
    width:85%;
    max-width:490px;
    margin-left:auto;
    margin-right:auto;
    height:30px;
    border-radius:3px;
}

.fabs{
    display: inline;
    span{
        font-size:10px;
    }
}
.fabsGroup{
    width:50%;
}

.contentCard{
    padding-top: 0;
    margin-top:0;
    top:-25px;
}

.resenasbtn{
    font-family: 'Montserrat';
}

.descripcionNegocio{
    font-family: 'Montserrat';
    font-size: 10px;
    color:#6b6b6ba6;
    width: 50%;
}

.hide {
    display: none;
  }
  .btnBack, .resenasbtn{
    color: #656262 !important;
  }