.avatar{
    width:100%;
    margin-top:10px;
    .imgAvatar{
        display: inline-block;
        width: 15%;
        max-width: 50px;
    }
    ion-avatar{
        display: inline-block;
        width: 35px;
        height: 35px;
        img{
            width: 35px;
            height: 35px;
        }
        ion-icon{
            font-size: 35px;
        }
    }
    .info{
        display: inline-block;
        width: 40%;
        font-size: 11px;
    }
    .Calificacion{
        display: inline-block;
        width:35%;
        text-align:right;
    }
}

.resenia{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

