@font-face{
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

page-login {
    ion-item {
        margin-bottom: 32px !important;
    }
}

.closebtn{
    position: absolute;
    display: flex;
    width: 100%;
    ion-buttons{
        width:100%;
        color:white !important;
        margin-top: 10px;
        ion-button{
            color:white !important;
            margin-left: auto;
            margin-right:20px;
        }
    }
}

.contenido{
    width: 95%;
    background-color:white;
    margin-top: 53px;
    position: absolute;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 17px;
    opacity: 1;
    height: 89.4%;

    .item{
        font-family:"Montserrat";
        width: 94%;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        ion-item{
            width:50%;
            min-width:250px;
            margin:0;
            ion-select{
                font-family:"Montserrat";
            }
            ion-input{
                font-family:"Montserrat";
            }
        }
    }
    .titulo{
        margin-top: 25px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family:"Montserrat";
    }
    ion-button{
        margin-top:25px;
        font-family:"Montserrat";
    }
    .btnenviarMSG{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        font-family:"Montserrat";
        ion-button{
            --background:#69a2ff;
        }
    }
}

.fondo{
    width: 100%;
    height: 100%;
    background-color: #69a2ff;
}

.captcha{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}