.userName{
    display: inline-block;
    width: 80%;
}
.avatar{
    display: inline-block;
    width: 16%;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}