

<ion-app>
    <ion-menu side="start" type="push" menuId="first">
      <ion-header>
        <ion-toolbar >
          <ion-avatar style="display: inline-block;
          width: 16%;
          font-size: 35px;
          text-align: center;
          height: 100%;"><ion-icon name="contact"></ion-icon></ion-avatar>
          <ion-title style="display: inline-block; width: 80%; font-family:'Montserrat'; 
          padding-left: 0;" *ngIf="Usuario">{{Usuario.Nombre}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item style="font-family: 'Montserrat';" *ngIf="!Usuario" (click)="login()">Iniciar Sesion</ion-item>
          <ion-item style="font-family: 'Montserrat';" (click)="MisPedidos()">Mis Pedidos</ion-item>
          <ion-item style="font-family: 'Montserrat';" (click)="MisPedidos()">Mis Anuncios</ion-item>
          <ion-item style="font-family: 'Montserrat';">Ayuda</ion-item>
          <ion-item style="font-family: 'Montserrat';"  *ngIf="Usuario" (click)="logout()">Cerrar Sesion</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
  <ion-router-outlet  main></ion-router-outlet>
</ion-app>
