@font-face{
    font-family: 'Montserrat';
    src: url('../../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}


ion-toolbar{
    height:150px;
    ion-title{
        font-family: 'Montserrat';
        width: 100%;
        text-align: center;
    }
}

.cantidad{
    padding:0;
    margin:0;
    width:50px;
    max-width:50px;
    text-align: center;

}

.descripcion{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btns{
    margin-top:20px;
    display: flex;
    ion-buttons{
        margin-left: auto;
        margin-right: auto;
    }
}

ion-footer{
        ion-button{
            width:100%;
        }
}

.imagen{
    width:  100vw;
    margin-top: -4px !important;
    margin-left: -4px !important;
    margin:0;
    padding:0;
    img{
        width:100%;
        display: flex;
        position: relative;
        max-height: 92vh;
    }
    ion-buttons{
        position:absolute;
        margin-left:auto;
        margin-right: 0;
        right: 0;
        color:white;
    }
    ion-title{
        position:absolute;
        z-index: 3;
        margin-top: 15vh;
        color: white;
        h1{
            margin-top: -20px;
        }
    }

}

ion-toolbar{
    ion-buttons{
        top:0!important;
    }
}

.imagenToolbar{
    background-color:#5656568a;
    min-width: 101vw!important;
    height:150px !important;
    display: flex;
    z-index: 1;
    position: absolute;
    min-height: 100vh!important;
}

.precio{
    margin-top:10px;
    span{
        color:green;
    }
}

.descripcion{
    position: absolute;
    display: flex;
    min-width: 100vw !important;
    height: 63vh;
    margin-top: 34vh;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px -1px 5px #0c0c0ca6;
    z-index:3;
}

.fondo{
    position:absolute;
    text-align:center;
}
::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }
  
  ion-content {
    overflow: hidden;
    --overflow: hidden;
  }
.scroll-content {
    overflow: hidden;
  }

.contenido{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}