<ion-content>
  <div class="fondo">
    <div class="blur">
      <ion-buttons slot="end" class="btnsHead">
        <ion-button (click)="close()" class="closebtn" slot="end">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="panel">
        <div class="productos" *ngIf="!loading">
          <ion-list>
            <ion-item-sliding [ngClass]="prod.showDel" *ngFor="let prod of Productos">
              <ion-item>
                <ion-thumbnail slot="start" class="imagen">
                  <img [src]="rutaImagenProducto + prod.Producto.IdNegocio + '/' + prod.Producto.IdProducto + '.jpg'">
                </ion-thumbnail>
                <ion-label class="NombreProducto">
                  {{prod.Producto.Producto}}
                  <div class="ComentariosAdicionales">
                    {{prod.ComentsAdi}}
                  </div>
                  <div class="precio">
                    <span>
                      $ {{prod.Producto.Precio}}
                    </span>
                  </div>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button color="success" (click)="edit(prod.idPosicion,'+')">
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                  <ion-input type="number" text-center disabled class="cantidad">{{prod.Cantidad}}</ion-input>
                  <ion-button color="danger" (click)="edit(prod.idPosicion,'-')">
                    <ion-icon name="remove"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
              <ion-item-options class="slide" side="end">
                <ion-item-option (click)="editarPedido(prod.Producto.IdNegocio,prod.Producto.IdProducto, prod.ComentsAdi, prod.idPosicion)" style="background-color:#53aded;">
                  <ion-icon name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option (click)="remove(prod.idPosicion)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>


          <div class="blurfooter">
            <div class="card">
              <div class="subtotal" *ngIf="Productos.length >= 1">
                <div class="total">
                  Total
                </div>
                <div class="precio">MXN ${{Total}}</div>
              </div>
              <div class="direccion" *ngIf="StoreDirecciones.selectedDir.Calle != null">
                <span>Dirección: </span>
                <span *ngIf="StoreDirecciones.selectedDir.Calle != null">{{StoreDirecciones.selectedDir.Calle + '  #' + StoreDirecciones.selectedDir.Numero }}</span>
                <br/><span class="btnSeleccionarDireccion" (click)="IrUbicacion()">Cambiar Dirección</span>
              </div>
              <div class="direccion" *ngIf="StoreDirecciones.selectedDir.Calle == null">
                <span class="btnSeleccionarDireccion" (click)="IrUbicacion()">Seleccionar Dirección</span>
              </div>
              <ion-button (click)="confirmarPedido()" color="success" [disabled]="Productos.length < 1 || StoreDirecciones.selectedDir.Calle == null || realizandoPedido === true">
                <span *ngIf="realizandoPedido === false">Confirmar pedido</span><ion-spinner *ngIf="realizandoPedido === true" name="crescent"></ion-spinner>
              </ion-button>
            </div>
          </div>
        </div>
      </div>


      <ion-list *ngIf="loading">
        <ion-item *ngFor="let n of [1,2,3,4,5]">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>



    </div>
  </div>

</ion-content>