@font-face{
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.cantidad{
    width: 20px;
    .text-input{ text-align: center; }
}

.subtotal{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: 'Montserrat';
    .total{
        width: 50%;
        display: inline-block;
    }
    .precio{
        width: 50%;
        display: inline-block;
        text-align: right;

    }
}

.fondo{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.blur{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    background-color: #505050;
}
.blurfooter{
    //display: flex;
    //position: sticky;
    //top: 68vh;
    height:27%;
    width:99%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    .card{
        background-color: white;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        ion-button{
            width:99%;
            margin-left: .5%;
            margin-right:auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.productos{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    height: 100%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px -1px 5px #0c0c0ca6;
    ion-list{
        border-radius: 15px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        //position:absolute;
        min-height: 50px;
        height: 75vh;
        overflow-y:auto;
    }
    .NombreProducto{
        font-family: 'Montserrat';
        color:black;
        //word-wrap: break-word;
        //overflow-wrap: break-word;
        white-space: normal;
        text-overflow: ellipsis;
        height:100px;
    }
    .precio{
        font-family: 'Montserrat';
    }
    .ComentariosAdicionales{
        font-family: 'Montserrat';
        font-size:12px;
    }
}
span{
    font-family: 'Montserrat';
}

.inner-scroll{
    overflow:hidden;
}

.closebtn{
    margin-left: auto;
    margin-right:10px;
    color:white;
}

.btnsHead{
    margin-bottom:10px;
}

.panel{
    height: 98vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sliding{
    ion-item{
        -webkit-animation-name: animate;
        -webkit-animation-duration: .7s;
        animation-name: animate;
        animation-duration: .7s;
        z-index:5;
    }
    ion-item-options{
        visibility: visible!important; 
        display: flex;
        z-index:0;
    } 
}   

@-webkit-keyframes animate {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    50% {-webkit-transform: translate3d(-66px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px); }
  }

  @keyframes animate {
    0% {transform: translate3d(0px, 0px, 0px); }
    50% {transform: translate3d(-66px, 0px, 0px); }
    100% {transform: translate3d(0px, 0px, 0px); }
  }

.btnSeleccionarDireccion{
    color:rgb(68, 68, 156);
    cursor: pointer;
}

.direccion{
    width: 90%;
    margin-left: auto;
    margin-top: 8px;
    margin-right: auto;
    font-size: 13px;
}


