@font-face{
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

page-login {
    ion-item {
        margin-bottom: 32px !important;
    }
}

.closebtn{
    position: absolute;
    display: flex;
    width: 100%;
    ion-buttons{
        width:100%;
        color:white;
        margin-top: 10px;
        ion-button{
            margin-left: auto;
            margin-right:20px;
        }
    }
}

.contenido{
    width: 95%;
    background-color:white;
    margin-top: 53px;
    position: absolute;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 17px;
    opacity: 1;
    height: 89.4%;
    ion-item{
        --min-height:7rem;
        margin-bottom: 10px;
    }
    ion-list{
        border-radius: 15px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        //position:absolute;
        min-height: 50px;
        height:100%;
        overflow-y:auto;
    }
}

.DetallePedido{
    width: 95%;
    background-color:#49576d;
    margin-top: 53px;
    position: absolute;
    margin-left: 2.5%;
    margin-right: 2.5%;
    //border-radius: 17px;
    //opacity: 1;
    height: 89.4%;
}

.fondo{
    width: 100%;
    height: 100%;
    background-color: #49576d;
}


.NombreProducto{
    font-family: 'Montserrat';
    color:black;
    //word-wrap: break-word;
    //overflow-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    height:100px;
}
.precio{
    font-family: 'Montserrat';
}
.ComentariosAdicionales{
    font-family: 'Montserrat';
    font-size:12px;
}
div{
    font-family: 'Montserrat';
}


.minimap{
    max-height:7rem;
    max-width: 50%;
    height:7rem;
    width:15rem;
    border-radius: 7px;
}

.descripcion{
    margin-left: 10px;
    width:50%;
}

.DetallePedido{
    transform: rotateY(-180deg);
}

.contenido, .DetallePedido{
    position: absolute;
    backface-visibility: hidden;
    }

.flip{
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    width:100%;
    height:100%;
}

.flipped{
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.btnBack{
    margin: 5px;
}

.pedido{
    width:100%;
    height:100%;
    .Productos, .DetallesDireccion, .mapaReferencia{
         width:100%;
         background-color: white; 
         border-radius: 17px;
    }
    .Productos{
        height: 35%;
        min-height: 100px;
        ion-buttons{
            height: 32px;
        }
        .lista{
            height:100%;
            ion-list{
                padding:0;
                border-radius: 17px;
                height: 76%;
                overflow-y: auto;
                span{
                    font-family: 'Montserrat'
                }
                .nProducto{
                    width:85%;
                }
                .nPrecio{
                    margin-right:2px;
                    margin-left:auto;
                }
                .nComentsAdi{
                    font-size:.7rem;
                }
            }
        }

    }
    .DetallesDireccion{
        margin-top:15px;
        height: 18%;
        min-height: 50px;
        .nDirPedido{
            margin:20px;
            line-height: 25px;
            .total{    
                padding-top: 10px;
            }
        }
        .nFechas{
            width:100%;
            .nFped, .nfFin{
                width:50%;
                display: inline-block;
            }
            .nfFin{
                text-align: end;
            }
        }
        .TotalDir{
            width:100%;
            .ntotal, .nDir{
                width:50%;
                display: inline-block;
            }
            .ntotal{
                text-align: end;
                font-weight: bold;
            }
        }

    }

    .mapaReferencia{
        margin-top:15px;
        height: 35%;
        min-height: 70px;
        .mapaDetalle{    
            height:95%;
            width: 95%;
            border-radius: 7px;
            margin:auto;
            padding-top:5%;
        }
    }

}
