<ion-content>
  <div class="fondo">
    <div class="closebtn">
      <ion-buttons>
        <ion-button slot="icon-only" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </div>
    <div class="contenido" @fadein>
      <ion-list *ngFor="let ped of Pedidos">
        <ion-item>
          <span>Direccion {{ped.Calle + ' #' + ped.Numero}}</span><br>
          <span>Estatus {{ped.Estatus}}</span><br>
          <span>Total ${{ped.Total}}</span>
          <span>{{ped.FechaPedido}}</span>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<!--
<ion-item>
          <ion-thumbnail slot="start" class="imagen">
            <img [src]="rutaImagenProducto + prod.Producto.IdNegocio + '/' + prod.Producto.IdProducto + '.jpg'">
          </ion-thumbnail>
          <ion-label class="NombreProducto">
            {{prod.Producto.Producto}}
            <div class="ComentariosAdicionales">
              {{prod.ComentsAdi}}
            </div>
            <div class="precio">
              <span>
                $ {{prod.Producto.Precio}}
              </span>
            </div>
          </ion-label>
        </ion-item>

-->
