.map{
    height: 100vh;
    position:relative;
    display:flex;
    z-index:0;
}

.direccion{
    top: 80vh;
    position: absolute;
    display: flex;
    z-index: 11;
    height: 20vh;
    background: white;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-top-left-radius:5%;
    border-top-right-radius: 5%;
    .inputs{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        max-height: 70px !important;
        margin-top: auto;
        margin-bottom: auto;
        ion-input{
            width: 50%;
            display: inline-block;
        }
    }
}

.content{
    overflow:hidden;
}

.btnClose{
    position: absolute;
    display: flex;
    width: 100%;
    ion-buttons{
        width:100%;
        ion-button{
            margin-left: auto;
        }
    }
}